COUCHDB_PASSWORD=aSecretPasswordThatCantBeGuessed
COUCHDB_PROTOCOL=http
COUCHDB_HOST=localhost
COUCHDB_PORT=5984 
CONDUCTOR_PROTOCOL=http
CONDUCTOR_HOST=localhost
CONDUCTOR_PORT=8080
#
DATACENTRAL_GROUP_PREFIX=FTest
FAIMS_COOKIE_SECRET=output of `uuidgen` or similar
REACT_APP_COMMIT_VERSION=output of `git rev-parse HEAD`