
<form class="form-signin w-100 m-auto">
    <div class="form-signin w-100 m-auto text-center">
     <h3 class="h3 mb-3 fw-normal" style="margin-top:50px">Sign In</h3>
    <p class="">Please select an authentication provider</p>
    </div>
   {{#each providers}}
    <a href="/auth/{{ this.label }}/" class="w-100 btn btn-lg btn-primary"
            style="background-color:#1B3E93;">{{ this.name }}</a>
    {{/each}}
</form>




