<p>Hello {{ user.name }}<p>
{{{ project_roles }}}
<h6>Your other roles on this conductor are:</h6>
<ul>
{{#each other_roles}}
<li>{{ this }}</li>
{{/each}}
</ul>
<br/>
<a href="/send-token/" class="btn btn-primary" style="background-color:#1B3E93;">Go back to App</a>
<a href="/logout/" class="btn">Logout from conductor</a>
<a href="https://auth.datacentral.org.au/cas/logout" class="btn">Logout from Data Central</a>
<a href="/invite/" class="btn">Invite users to roles</a>
<a href="/my-invites/" class="btn">Check my invites</a>
