<h1>Invite User to Role in Project</h1>
<p>Note that only admins of teams and the system admin can add users to
roles.</p>
<p>
<form method="post">
<label for="email">Email to invite</label>
<input name="email" type="email" required />
<label for="project_id">Project to invite user to</label>
<input name="project_id" type="text" required />
<label for="role">Project role for invited user</label>
<input name="role" type="text" required />
<input type=submit>
</form>
</p>
