  <div class="form-signin w-100 m-auto text-center">
    <h3 class="h3 mb-3 fw-normal" style="margin-top:50px">Invite Users to Notebooks </h3>
    <div class="btn-group mt-2 mb-4" role="group">
      <a class="w-100 btn btn-outline-primary" href="/">Go Back to User Account<i class="bi bi-arrow-return-left"></i></a>
    </div>
  </div>
  <div class="container">
    <div class="row gx-3 gy-3">
      <div class="col-md-3 col-sm-12"></div>
      <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            Invite Users
          </div>
          <div class="card-body">
            If you wish to invite users to specific roles in a notebook, fill in the form below. Note that only admins of teams and the system admin can add users to roles.
            <div class="alert alert-warning mt-3" role="alert">
              <i class="bi bi-info-circle"></i>&nbsp;&nbsp; Users will need internet access to sign in and accept invites.
            </div>

            <form class="mb-1 mt-2" method="post">
              <div class="mb-3">
                <label for="email">Email address</label>
                <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="user@team.com">
                <div id="emailHelp" class="form-text">Add the email address of the user you wish to invite.</div>
              </div>
              <div class="mb-3">
                <label for="project_id">Notebook</label>
                <select name="project_id" class="form-control" id="project_id">
                  {{#each notebooks}} 
                    <option value={{this.non_unique_project_id}}>{{this.name}}</option>
                  {{/each}}
                </select>
                
                <div id="notebookHelp" class="form-text text-muted">Notebooks names must be formatted as lowercase with underscores, i.e., CSIRO-geochemistry should be entered as <code>csiro_geochemistry</code></div>
              </div>
              <div class="mb-3">
                <label for="role">Role</label>
                <select name="role" class="form-control" id="role">
                  {{#each roles}}
                  <option value={{this}}>{{this}}</option>
                  {{/each}}
                </select>
                <div id="roleHelp" class="form-text text-muted">Roles include: admin (user can see all records) and team (user can only see their own records). Check the notebook builder for all available roles and associated permissions set up for your notebook.</div>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn" style="float:right">Reset</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
