<div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item" active aria-current="page">Notebooks</li>
      </ol>
    </nav>

<script>
  const deleteNotebook = (project_id) => {
    fetch(`/api/notebooks/${project_id}/delete`, {
      method: 'POST',
    })
    .then(response => {
      window.location.reload();
    });
  }
</script>

<h1>Notebooks</h1>

<table class="table">
    {{#each notebooks}}
        <tr>
          <td>
            <a href="/notebooks/{{this.non_unique_project_id}}">{{this.name}}</a>
          </td>
          {{#if ../developer}}
          <td>
            <button class="btn btn-danger btn-sm" onclick="deleteNotebook('{{this.non_unique_project_id}}')">Delete</button>
          </td>
          {{/if}}
        </tr>
    {{/each}}
</table>

</div>