<h1>Sending Auth</h1>
<script>
const token_url = new URL('/get-token/', window.location.href);
console.error("fetching token");
fetch(
    token_url
).then(
    res => res.text()
).then(
    token => {
        const app_window = window.opener;
        console.error("sending token");
        app_window.postMessage({
          token: token,
          origin: window.location.href,
        }, "*");
        window.close();
    }
).catch(console.error);
</script>
