<h1>Sending Auth</h1>
<script>
const token_url = new URL('/get-token/', window.location.href);
console.log("fetching token");
fetch(
    token_url
).then(
    res => res.json()
).then(
    token_json => {
        if (window.cordova_iab !== undefined) {
            window.cordova_iab.postMessage(JSON.stringify({
                token: token_json.token,
                pubkey: token_json.pubkey,
                pubalg: token_json.pubalg,
                origin: window.location.href,
            }));
            alert("Token send, hit back button");
        } else {
            const app_window = window.opener ?? window.parent;
            if (app_window === null) {
                alert("Cannot find app");
            } else {
                console.error("sending token");
                app_window.postMessage({
                  token: token_json.token,
                  pubkey: token_json.pubkey,
                  pubalg: token_json.pubalg,
                  origin: window.location.href,
                }, "*");
                window.close();
            }
        }
    }
).catch(console.error);
</script>
